.container{
    
   width: 85%;
   max-width: 850px;
   margin:0 auto;
    display: flex;
    justify-content: center;
}

table
{   
    
    border-collapse:  collapse;
}


table, th , td{
    
    
    border: 1px solid black;
    padding: 5px;
}

.menu{
   width: 50%;
   display: flex;
   flex-direction: column;
   font-size: small;
   
}
.fondo,.fondo1,.fondo2 {
    background-color: rgb(168, 170, 170);
    border-radius: 5px;
    display: flex;
    width:100%;
  }
.rdov{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 85%;
    max-width: 850px;
    
   margin:0 auto;
   display: flex;
   justify-content: center;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: large;
    line-height: normal ;
    margin: 0;
    
    

}

h1{
    letter-spacing: 10px;
    font-size: 1rem;
    line-height: 1.3em;
}

.header{
    background: #333 ;
    color:white;
    padding: 1rem 0;

}

    .header a{
        color: chartreuse;
        text-decoration: none;

        
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

    
    .navigation ul li a{
        display: block;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover{
        background:black;
        
    }

.logo{
    letter-spacing: 15px;
    font-size: 1.3em;
}



.footer{
    background: #333 ;
    padding: 2rem 0;
    text-align: center;
    margin-top: 3rem;
    

}
   

    .footer ul li{
        display: inline-block;
        
    }
    .footer a{
        color: chartreuse;
        text-decoration: none;

        
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .imagen{
        margin-top: 15px;
        max-width: 10%;
    }
    